# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]

# Indentation
indent_style = space
indent_size = 2

# Cleanliness
trim_trailing_whitespace = true
insert_final_newline = true

# Text format
end_of_line = lf
charset = utf-8
